body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.tablaAdicional {
    display: none;
}



header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;

}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

section.main-content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
/* Reset de estilos para quitar márgenes y paddings predeterminados */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
  }
  
  /* Establecer un fondo oscuro para todo el cuerpo */
  body {
    background-color: #1a1a1a;
    color: #fff; /* Texto en color blanco */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Estilos de la tabla */
  table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #333;
  }
  
  /* Estilos para las celdas de encabezado */
  th {
    background-color: #555;
    color: #fff;
    padding: 12px;
    text-align: left;
  }
  
  /* Estilos para las celdas de datos alternas */
  tr:nth-child(even) {
    background-color: #444;
  }
  
  /* Estilos para las celdas de datos */
  td {
    padding: 12px;
    border-bottom: 1px solid #2c2c2c;
  }
  
  /* Estilo hover para resaltar filas al pasar el ratón */
  tr:hover {
    background-color: #666;
  }
  